/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
/*Background Image*/
body 
{background-image:url('https://www.walldevil.com/wallpapers/a76/pyramid-polygon.jpg');
    width: 100%;
    margin: auto;
 }
     
/*Borders*/
table,th,td { border: 5px solid black;
            border: 1px solid white;
        font-family: Ubuntu;
}
       
/*Link Design*/
a {color:Black;
   background-color:rgb(120,120%,120%,);
   text-decoration:none;
}
/*Div Customization*/
Div {color: Purple;
text-align:center;
}
/*Main CSS*/
h1 {border:5px solid white;
    background-color:black;
    font-family: Ubuntu;
}
       
p  {font-size:29px;
        border:5px solid white;
        background-color:black;
        font-family:Ubuntu; 
}
        
/*Image*/
img {position:relative;
     margin:auto;
     text-align:center;
     border-radius: 10px 10px 10px 10px;
     top: -350px;
     left: 580px;
     height: 150px;
}
/*Contact Info Desin*/
h4 {color: black;
            border: 2.5px solid white;
            display: inline;
            font-family: Ubuntu;
            position: relative;
            margin: auto;
            border-radius: 20px 20px 20px 20px;
            background-color: white;
            top:100px;
            right:150px;}